@import './colors';

header {
  margin: 40px;
  text-align: center;

  .btn-add {
    border-radius: 1.5em;
    font-size: 2em;
  }
}
.btn-sub {
  span {
    display: inline-block; margin-right: 10px;
    font-size: 5em; font-weight: bold; line-height: 0; vertical-align: middle;
  }
  &-event span { color: $color-event; }
  &-blocking-event span { color: $color-blocking-event; }
  &-unpaid-leave span { color: $color-unpaid-leave; }
  &-free-vacation span { color: $color-free-vacation; }
}
.mat-divider {
  margin: 20px;
}
mat-accordion {
  display: block; margin: 20px;
}
