@import "./colors";

:host { display: block; padding: 20px; }

table {
  margin: 0; padding: 0; width: 100%; border-collapse: collapse;
  table-layout: fixed;

  thead th { border-top: 0; }
  thead th:first-child,
  thead th:first-child + th { border: 0; }
  thead th:last-child { border-right: 0; }

  tbody th { background-color: $color-grey-lighter; border-color: $color-grey-lighter; }

  tr { vertical-align: top; }
  tr:last-child td { border-bottom: 0; }
  td, th {
    border: 1px solid $color-brown-lighter;
    font-family: "Roboto", "Helvetica Neue", sans-serif; font-size: 1.2em;
    user-select: none;
  }
  th { padding: 10px; color: $color-grey }
  td { position: relative; padding: 10px 5px; height: 100px; z-index: 1; }
  td:first-child { border-left: 0; }
  td:last-child { border-right: 0; }

  .week { width: 15px; }
  .form { height: auto; }
  .siblings-month { background-color: $color-grey-lightest; }

  td.selection-start ul,
  td.selection-end ul,
  td.selection-in ul { display: none; }

  td.selection-start,
  td.selection-end,
  td.selection-in {
    &.selection-event { border-color: $color-event; }
    &.selection-blocking-event { border-color: $color-blocking-event; }
    &.selection-free-vacation { border-color: $color-free-vacation; }
    &.selection-unpaid-leave { border-color: $color-unpaid-leave; }
  }
  td.selection-start,
  td.selection-end {
    &.selection-event { background: darken($color-event, 10%); }
    &.selection-blocking-event { background: darken($color-blocking-event, 10%); }
    &.selection-free-vacation { background: darken($color-free-vacation, 10%); }
    &.selection-unpaid-leave { background: darken($color-unpaid-leave, 10%); }
  }
  td.selection-in {
    &.selection-event { background: $color-event; }
    &.selection-blocking-event { background: $color-blocking-event; }
    &.selection-free-vacation { background: $color-free-vacation; }
    &.selection-unpaid-leave { background: $color-unpaid-leave; }
  }
}
